*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	scroll-behavior: smooth;
}

body {
	font-family: 'Helvetica';
	background: #000;
	color: #fff;
}

a {
	text-decoration: none;
	color: white;
}

ul {
	list-style: none;
}

.main-header {
	position: fixed;
	top: 0%;
	left: 0%;
	width: 100%;
	z-index: 3;
	display: flex;
	justify-content: space-between;
	align-items: center;
	text-transform: uppercase;
	height: 100px;
	padding: 0 30px;
}

.logo {
	margin-top: 30px;
	width: 90px;
	height: auto;
}

.logo img {
	display: block;
	width: 100%;
	height: auto;
}

.desktop-main-menu {
	margin-right: 30px;
}

.desktop-main-menu ul {
	display: flex;
}

.desktop-main-menu ul li {
	position: relative;
	margin-right: 10px;
	padding-bottom: 2px;
}

.desktop-main-menu ul li a::after {
	content: '';
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 1px;
	background-color: #fff;
	transform: scaleX(0);
	transition: transform 0.6s cubic-bezier(0.19, 1, 0.22, 1);
	transform-origin: right center;
}

.desktop-main-menu ul li a:hover::after {
	transform: scaleX(1);
	transform-origin: left center;
	transition-duration: 0.4s;
}

section {
	position: relative;
	height: 100vh;
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
	text-transform: uppercase;
}
.section-a {
	background-image: url('../img/psk2826.jpeg');
}

.section-b {
	background-image: url('../img/mangal.jpeg');
}

.section-inner {
	position: absolute;
	bottom: 200px;
	left: 150px;
	max-width: 560px;
}

.section-inner-b {
	position: absolute;
	top: 200px;
	left: 150px;
	max-width: 560px;
}

.section-inner,
.section-inner-b,
h4 {
	font-size: 1rem;
	margin-bottom: 30px;
	font-weight: 300;
	text-transform: none;
	animation: spinIn 1s ease-in-out 0.2s;
}

.section-inner,
.section-inner-b h2 {
	font-size: 2rem;
	margin-bottom: 10px;
	font-weight: 600;
}

.button-40 {
	background-color: #111827;
	border: 1px solid transparent;
	border-radius: 0.75rem;
	box-sizing: border-box;
	color: #ffffff;
	cursor: pointer;
	flex: 0 0 auto;
	font-size: 0.95rem;
	font-weight: 600;
	line-height: 1.5rem;
	padding: 0.75rem 1.2rem;
	text-align: center;
	text-decoration: none #6b7280 solid;
	text-decoration-thickness: auto;
	transition-duration: 0.2s;
	transition-property: background-color, border-color, color, fill, stroke;
	transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
	user-select: none;
	-webkit-user-select: none;
	touch-action: manipulation;
	width: auto;
	animation: spinIn 1s ease-in-out 0.2s;
}

.button-40:hover {
	background-color: #374151;
}

.button-40:focus {
	box-shadow: none;
	outline: 2px solid transparent;
	outline-offset: 2px;
}

.scroll-arrow {
	position: absolute;
	bottom: 50px;
	left: 50%;
	transform: translateX(-50%);
	animation: bounce 3s infinite;
	padding: 20px 40px 20px 40px;
	opacity: 1;
	z-index: 2;
	border: 2px solid #feac1fbf;
}
.chandrayaan {
	width: 16rem;
	height: auto;
	animation: spinIn 1s ease-in-out 0.2s;
}
.section-d {
	height: 600vh;
	text-transform: none;
	background: linear-gradient(
		112.1deg,
		rgb(19, 26, 46) 11.4%,
		rgb(63, 76, 119) 70.2%
	);
}
/* Slider logic */

.mySlides {
	display: none;
	z-index: 3;
}
img {
	vertical-align: middle;
}

/* Slideshow container */
.slideshow-container {
	max-width: 1000px;
	position: relative;
	margin: auto;
}

/* Next & previous buttons */
.prev,
.next {
	cursor: pointer;
	position: absolute;
	top: 50%;
	width: auto;
	padding: 16px;
	margin-top: -22px;
	color: white;
	font-weight: bold;
	font-size: 18px;
	transition: 0.6s ease;
	border-radius: 0 3px 3px 0;
	user-select: none;
}

/* Position the "next button" to the right */
.next {
	right: 0;
	border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
	background-color: rgba(0, 0, 0, 0.8);
}

/* Caption text */
.text {
	color: #f2f2f2;
	font-size: 15px;
	padding: 8px 12px;
	position: absolute;
	bottom: 8px;
	width: 100%;
	text-align: center;
	text-transform: none;
}

/* Number text (1/3 etc) */
.numbertext {
	color: #f2f2f2;
	font-size: 12px;
	padding: 8px 12px;
	position: absolute;
	top: 0;
}

/* The dots/bullets/indicators */
.dot {
	cursor: pointer;
	height: 15px;
	width: 15px;
	margin: 0 2px;
	background-color: #bbb;
	border-radius: 50%;
	display: inline-block;
	transition: background-color 0.6s ease;
}

.active,
.dot:hover {
	background-color: #717171;
}

/* Fading animation */
.fade {
	animation-name: fade;
	animation-duration: 1.5s;
}

@keyframes fade {
	from {
		opacity: 0.4;
	}
	to {
		opacity: 1;
	}
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
	.prev,
	.next,
	.text {
		font-size: 11px;
	}
}

.section-c {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background-image: url('../img/earth.jpg');
}

@keyframes spinIn {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

@keyframes bounce {
	0%,
	20%,
	50%,
	80%,
	100% {
		opacity: 0;
		transform: translateY(-20px);
	}

	40% {
		opacity: 1;
		transform: translateY(0);
	}
}

@media (min-width: 768px) {
	.button-40 {
		padding: 0.75rem 1.5rem;
	}
}

@media (max-width: 960px) {
	.desktop-main-menu {
		display: none;
	}
}

@media (max-width: 600px) {
	.section-inner {
		bottom: 75px;
		left: 20px;
	}
}

.footer {
	display: flex;
	flex-flow: row wrap;
	padding: 30px 30px 20px 30px;
	color: #000000;
	background-image: url("../img/secd.webp");
	border-top: 1px solid #e5e5e5;
}

.footer > * {
	flex: 1 100%;
}

.footer__addr {
	margin-right: 1.25em;
	margin-bottom: 2em;
}

.footer__logo {
	font-family: 'Pacifico', cursive;
	font-weight: 400;
	text-transform: lowercase;
	font-size: 1.5rem;
}

.footer__addr h2 {
	margin-top: 1.3em;
	font-size: 15px;
	font-weight: 400;
}

.nav__title {
	font-weight: 400;
	font-size: 15px;
}

.footer address {
	font-style: normal;
	color: rgb(39, 39, 39);
}

.footer__btn {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 36px;
	max-width: max-content;
	background-color: rgb(33, 33, 33, 0.07);
	border-radius: 100px;
	color: #2f2f2f;
	line-height: 0;
	margin: 0.6em 0;
	font-size: 1rem;
	padding: 0 1.3em;
}

.footer ul {
	list-style: none;
	padding-left: 0;
}

.footer li {
	line-height: 2em;
}

.footer a {
	text-decoration: none;
}

.footer__nav {
	display: flex;
	flex-flow: row wrap;
}

.footer__nav > * {
	flex: 1 50%;
	margin-right: 1.25em;
}

.nav__ul a {
	color: rgb(54, 54, 54);
}

.nav__ul--extra {
	column-count: 2;
	column-gap: 1.25em;
}

.legal {
	display: flex;
	flex-wrap: wrap;
	color: rgb(27, 26, 26);
}

.legal__links {
	display: flex;
	align-items: center;
}

.heart {
	color: #2f2f2f;
}

@media screen and (min-width: 24.375em) {
	.legal .legal__links {
		margin-left: auto;
	}
}

@media screen and (min-width: 40.375em) {
	.footer__nav > * {
		flex: 1;
	}

	.nav__item--extra {
		flex-grow: 2;
	}

	.footer__addr {
		flex: 1 0px;
	}

	.footer__nav {
		flex: 2 0px;
	}
}
